/* FLASH MESSAGE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eee;
    color: #333;
    position: relative; /* Para garantir que os popups fiquem dentro da tela */
    overflow-x: hidden; 
}

.message
{
    padding: 1em;
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 1em;
    max-width: 60%;
    font-weight: bold;
    font-size: 20px;
    border: black 1px solid;
    box-shadow: 2px 2px 2px black;
}

.message-error
{
    color: #850000;
    background-color: #ffd2cc;
}

.message-success
{
    color: #0b8500;
    background-color: #ceffcc;
}

.message-notification
{
    color: #004085;
    background-color: #cce5ff;
}
  
.container
{
    position: fixed;
    width: 80%;
    padding: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5c46aa;
    padding: 10px 20px;
    height: 60px;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
    border-radius: 30px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.search-input
{
    width: 50%;
    margin-right: auto;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: white;
}

.icon-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: 10px;
}

/* DASHBOARD */