*{
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
}

.all
{
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.left {
    width: 40%;
    background: #5c46aa;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    position: relative;
    left: 12rem;
    top: 0.3rem;
    width: 13rem;
}

.logo-container {
    position: relative;
    top: -2rem;
    left: -10rem;
    background: #D7D7D7;
    height: 11rem;
    width: 25rem;
    border-radius: 6rem;
    margin: -30px 0 20px 0;
}

.right {
    width: 60%;
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tituloTipoCadastro{
    position: relative;
    left: 10%;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    margin-bottom: 10px;
}

input {
    position: relative;
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    left: 10%;
    margin-bottom: 10px;
}

btn{
    border-radius: 10px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -2%;
}
.btn-play {
    position: relative;
    width: 20%;
    background: black;
    color: lime;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    left: -0.1rem;
}

.btn-or {
    margin-top: 10px;
    background: black;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

input[type="radio"] {
    top: 10rem;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="radio"] + label {
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    margin-right: 10px;
    display: inline-block;
}

input[type="radio"]:checked + label {
    background: lime;
    color: black;
}

/* FLASH MESSAGE */

.message
{
    padding: 1em;
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 1em;
    max-width: 60%;
    font-weight: bold;
    font-size: 20px;
    border: black 1px solid;
    box-shadow: 2px 2px 2px black;
}

.message-error
{
    color: #850000;
    background-color: #ffd2cc;
}

.message-success
{
    color: #0b8500;
    background-color: #ceffcc;
}

.message-notification
{
    color: #004085;
    background-color: #cce5ff;
}
  
.container
{
    position: fixed;
    width: 80%;
    padding: 2em;
    left: 50%;
    transform: translateX(-50%);
}

/* DASHBOARD */

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5c46aa;
    padding: 10px 20px;
    height: 60px;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logoDash {
    height: 40px;
    margin-right: 10px;
    border-radius: 30px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.search-input {
    flex-grow: 1;
    margin: 0 20px;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: white;
}

.icon-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {

    height: 50px;
    cursor: pointer;
}

.main-content {
    display: flex;
    padding: 20px;
    height: calc(100vh - 60px);
}

.left-section {
    flex: 2;
    padding: 20px;
}

.favorito {
    margin-bottom: 10px;
}

.users {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #999;
}

.left-section h1 {
    font-size: 28px;
    color: #5c46aa;
    font-style: italic;
    font-weight: bold;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
}

.card-agenda {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow-y: auto;
    max-height: 500px;
}

.agenda-title {
    color: #5c46aa;
    font-weight: bold;
    font-size: 22px;
}

.agenda-img {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eee;
    color: #333;
}