<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkArts</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>

<body>
    {{#if session.userid}}
    <header class="topbar">
        <div class="logo-box">
            <img src="img/logo2.png" alt="Logo" class="logoDash">
        </div>
        <input type="text" class="search-input" placeholder="Pesquise aqui">
        <div class="icon-bar">
            <img src="img/mail-icon.png" alt="Mensagens" class="icon">
            <img src="img/bell-icon.png" alt="Notificações" class="icon">
            <img src="img/user-icon.png" alt="Perfil" class="icon">
        </div>
    </header>
    {{/if}}

    <div class="container">
        {{#if messages.message}}
        <div class="message {{#if (eq messages.type 'error')}}message-error{{else}}message-success{{/if}}">
            {{messages.message}}
        </div>
        {{/if}}
    </div>

    {{{ body }}}
</body>

</html>