<body>
    <main class="main-content">
        <section class="left-section">
            <div class="favorito">
                <img src="img/heart-icon.png" alt="Favoritos" class="icon">
            </div>
            <div class="users">
                <div class="user-icon" style="background-color: #ccffcc;"></div>
                <div class="user-icon" style="background-color: #eeeeee;"></div>
                <div class="user-icon" style="background-color: #cceeff;"></div>
                <div class="user-icon" style="background-color: #ffcccc;"></div>
            </div>
            <h1><strong><em>Novidades</em></strong> para você</h1>
            <div id="perfil-container" class="perfil-container">
            </div>
        </section>

        <section class="right-section">
            <div class="card-agenda">
                <h2><span class="agenda-title">Agenda</span><br>Próximos eventos</h2>
                <img src="img/dj-ilustracao.png" alt="DJ tocando" class="agenda-img">
            </div>
        </section>
    </main>
</body>
</html>
