<div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5 bg-secondary border-dark">
                                    <div class="card-header bg-primary"><h3 class="text-center font-weight-light my-4 text-light" style="font-size: 40px;">Login</h3></div>
                                    <div class="card-body">
                                        <form action="/login" method="post">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" />
                                                <label for="email">Email</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="password" name="password" type="password" placeholder="Password" />
                                                <label for="password">Senha</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberPassword" name="rememberPassword" type="checkbox" />
                                                <label class="form-check-label text-info" for="inputRememberPassword">Lembrar Senha</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small text-info py-3" href="/resetPassword">Esqueceu a Senha?</a>
                                                <input class="btn btn-success" type="submit" style="width: 100px; height: auto;" value="Acessar">
                                            </div>
                                        </form>

                                    </div>
                                    <div class="card-footer text-center py-3 bg-warning">
                                        <div class="small text-info py-3"><a href="/register">Ainda não tem conta? Cadastre-se!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div class="my-5" id="layoutAuthentication_footer">