<div class="all">
    <div class="cadastro-panel">
        <div class="cadastro-container">
            <div class="logo-container">
                <img src="../img/logo.png" alt="logo" class="logo-auth">
            </div>

            <h2>Cadastro de Artista</h2>

            <form action="/registro-artista" method="POST">
                <div class="form-group">
                    <input id="nome" type="text" name="name" placeholder="Nome de usuário" required>
                </div>

                <div class="form-group">
                    <input id="email" type="email" name="email" placeholder="Email" required>
                </div>

                <div class="form-group">
                    <input id="telefone" type="tel" name="cellphone" placeholder="Telefone" required>
                </div>

                <div class="form-group">
                    <input id="cpf-field" type="text" name="cpf" placeholder="CPF" required>
                </div>

                <div class="form-group">
                    <input id="senha" type="password" name="password" placeholder="Senha" required>
                </div>

                <div class="form-group">
                    <input id="confirmar_senha" type="password" name="confirmPassword" placeholder="Confirmar Senha" required>
                </div>

                <button type="submit" class="cadastrar-button">
                    <span>Cadastrar</span>
                </button>

                <div class="form-footer">
                    <span>Já tem uma conta?</span>
                    <a href="/login" class="login-link">Entrar</a>
                </div>
            </form>
        </div>
    </div>

    <div class="welcome-panel">
        <div class="welcome-container">
            <h1>Bem-vindo, Artista!</h1>
            <img width="100%" height="100%" viewBox="0 0 500 500" src="../img/imgArtista.png" alt="Imagem de Artista">
            </img>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('#cpf-field').mask('000.000.000-00');
        $('#telefone').mask('(00) 00000-0000');
    });
</script>