<script>
   
    function send(){

        let area = document.querySelector('#area')
        let email = document.querySelector('#email').value
        fetch(`/sendCode/${email}`)
        window.alert('Código de verificação enviado ao seu endereço de email')
        area.innerHTML = `<form action="/resetPassword/${email}" method="post">
        <div class="form-floating mb-3">
            <label for="token">Código de verificação:</label>
            <input class="form-control" type="text" name="token" placeholder="Digite o código enviado ao seu Email" required>
        </div>
        <div class="form-floating mb-3">
            <label for="oldPassword">Senha antiga:</label>
            <input class="form-control" type="password" name="oldPassword" placeholder="Digite sua antiga Senha" required>
        </div>
        <div class="form-floating mb-3">
            <label for="newPassword">Nova Senha:</label>
            <input class="form-control" type="password" name="newPassword" placeholder="Digite sua nova Senha" required>
        </div>
        <input type="submit" value="Trocar Senha" class="btn btn-success">
            <p><a href="/">Voltar!</a></p> 
        </div>
    </form>`
    }
</script>

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 bg-secondary border-dark">
                            <div class="card-header bg-primary">
                                <h3 class="text-center font-weight-light my-4 text-light" style="font-size: 40px;">Troca de Senha</h3>
                            </div>
                            <div class="card-body" id="area">
                                <form >
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" name="email" type="email" placeholder="Email" required/>
                                        <label for="email">Email</label>
                                    </div>
                                        <input class="btn btn-success" onclick="send()" style="width: 100px; height: auto;" value="Registrar">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="my-5" id="layoutAuthentication_footer">
</div>
