<script>
    async function loadCities(){
    const stateSelect = document.getElementById('state');
    const citySelect = document.getElementById('city');
    const selectedState = stateSelect.options[stateSelect.selectedIndex].text;
    const cities = await fetch(`/cities/${selectedState}`);
    const response = await cities.text();
    citySelect.innerHTML = response;
    }
</script>

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 bg-secondary border-dark">
                            <div class="card-header bg-primary">
                                <h3 class="text-center font-weight-light my-4 text-light" style="font-size: 40px;">Crie sua conta</h3>
                            </div>
                            <div class="card-body">
                                <form action="/register" method="post" enctype="multipart/form-data">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="name" name="name" type="text" placeholder="Seu nome" />
                                        <label for="name">Nome</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" name="email" type="email" placeholder="Email" />
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="password" name="password" id="password" placeholder="Digite sua senha" required> 
                                        <label  for="password">Senha:</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme sua senha" required> 
                                        <label  for="confirmPassword">Confirme sua Senha:</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="text" name="cpf_cnpj" id="cpf_cnpj" placeholder="CNPJ/CPF" required> 
                                        <label for="cpf_cnpj">CNPJ/CPF</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select id="accountType" name="accountType" class="form-control">
                                            <option selected>Selecione uma opção</option>
                                            <option>Artista</option>
                                            <option>Empresa</option>
                                        </select required>
                                        <label for="accountType">Tipo de Conta</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select id="state" name="state" class="form-control" onchange="loadCities()">
                                            <option selected>Selecione um Estado</option>
                                            <option>AC</option>
                                            <option>AL</option>
                                            <option>AP</option>
                                            <option>AM</option>
                                            <option>BA</option>
                                            <option>CE</option>
                                            <option>DF</option>
                                            <option>ES</option>
                                            <option>GO</option>
                                            <option>MA</option>
                                            <option>MG</option>
                                            <option>MS</option>
                                            <option>MT</option>
                                            <option>PA</option>
                                            <option>PB</option>
                                            <option>PR</option>
                                            <option>PE</option>
                                            <option>PI</option>
                                            <option>RJ</option>
                                            <option>RN</option>
                                            <option>RS</option>
                                            <option>RO</option>
                                            <option>RR</option>
                                            <option>SC</option>
                                            <option>SP</option>
                                            <option>SE</option>
                                            <option>TO</option>
                                        </select required>
                                        <label for="state">Estado</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select id="city" name="city" class="form-control">
                                            <option selected>Selecione uma Cidade</option>
                                        </select required>
                                        <label for="city">Cidade</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="file" id="image" name="image" class="form-control" accept="image/*">
                                        <label for="image">Selecionar Imagem</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="descricao" name="descricao" type="text" placeholder="Descrição" />
                                        <label for="descricao">Descrição</label>
                                    </div>                                    
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small text-info py-3" href="">Esqueceu a Senha?</a>
                                        <input class="btn btn-success" type="submit" style="width: 100px; height: auto;" value="Registrar">
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3 bg-warning">
                                <div class="small text-info py-3"><a href="/login">Já tem uma conta? clique aqui!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="my-5" id="layoutAuthentication_footer">
</div>
